@use '@angular/material' as mat;

$pal: mat.define-palette(mat.$indigo-palette);

//TODO: refactor this?

.smd-header {
  background: mat.get-color-from-palette($pal, 'default');
  color: mat.get-color-from-palette($pal, 'default-contrast');
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}
.smd-main-content {
  padding: 20px 70px 0;
}

.logo-header {
  height: 100px;
  width: 100px;
  padding: 16px;
}
