<mat-toolbar color="primary" class="mat-elevation-z4">
  <span>Store My Docs</span>

  <span class="spacer"></span>
  <div id="g_id_onload"
       [attr.data-client_id]="GOOGLE_CLIENT_ID"
       data-context="signin"
       data-ux_mode="popup"
       data-auto_prompt="false">
  </div>

  <div class="g_id_signin"
       data-type="standard"
       data-shape="rectangular"
       data-theme="outline"
       data-text="signin_with"
       data-size="large"
       data-logo_alignment="left">
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
