.mat-column-actions {
  flex: 0 0 72px;
  padding: 24px;
  cursor: pointer;
}

.nameFilter {
  width: 100%;
}

/*
 * This padding sets alignment of the nested nodes.
 */
mat-nested-tree-node div[role=group] {
  padding-left: 48px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
mat-tree-node {
  padding-left: 48px;
}

.not_found {
  padding: 28px;
}

.categoryFilters {
  padding-right: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.categoryExpand {
  display: flex;
}

.categoryFilterHeader {
  padding: 8px;
  display: flex;
  align-items: center;
}

.files-list {
  min-height: 800px;
  flex-grow: 1;
}

.file-list-and-categories {
  display: flex;
}

.category-filter-panel {
  background-color: white;
}

