<h1 mat-dialog-title>Select a category for {{fileName}}</h1>
<div mat-dialog-content>
  <mat-form-field class="category-select">
    <mat-label>Category</mat-label>
    <mat-chip-grid #chipGrid>
      <mat-chip-row *ngFor="let category of categories"
                    (removed)="remove(category)">
        {{category}}
      </mat-chip-row>
    </mat-chip-grid>
      <input matInput placeholder="Select category..."
             [matAutocomplete]="autoComplete"
             [formControl]="categoryFormControl"
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             (matChipInputTokenEnd)="addFromInput($event)"/>
    <mat-autocomplete #autoComplete="matAutocomplete" (optionSelected)="addFromAutoComplete($event)"
                      [hideSingleSelectionIndicator]="true">
      <mat-option *ngFor="let suggestedCat of suggestedCategories | async" [value]="suggestedCat">
        {{suggestedCat}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="categories">Ok</button>
</div>
